@font-face {
    font-family: 'Klaudia';
    src: url('/font/Klaudia.ttf');
}

.text {
    -fx-font-family: "Klaudia";
}

.root {
    -fx-base: rgba(212, 178, 106,1);
}

/*.label {
    -fx-pref-width: 100;
}

.root {
    -fx-base: rgba(244, 196, 73,.8);
    -fx-background-image: url("/img/spoonybarding_light.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-color: rgba(244, 196, 73,.8);
    -fx-background-size: cover;
    -fx-dark-text-color: rgba(176, 131, 13, 1);
    -fx-mid-text-color: rgba(176, 131, 13, 1);
    -fx-light-text-color: rgba(255, 227, 153, 1);
}

.button {
}

VBox {
    -fx-background: rgba(255,255,255,0);
}

HBox {
    -fx-background: rgba(0,0,0,0);
}

.split-pane {
    -fx-background: rgba(255,255,255,0);
}

.scroll-pane {
    -fx-background: rgba(0,0,0,0);
}


.scroll-pane {
    -fx-base: rgba(244, 196, 73,.8);
    -fx-background-color:rgba(150,100,50,0);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );

}

.titled-pane {
    -fx-background-color:rgba(244, 196, 73,.6),
        linear-gradient( to bottom, rgba(255, 255, 255,.1),rgba(0, 0, 0,.1));
    -fx-padding: 10;
    -fx-box-border: rgba(170,139,57,0);
    -fx-background-insets: 10;

}

.titled-pane > .title {
     -fx-background-color: rgba(150,100,50,0);
}

.titled-pane > .title > .text {
    -fx-font-size : 1.3em;
}

.titled-pane > .content {
    -fx-font-color: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,.6) , 3 , .1 , 0 , 0 )
}

.text-field {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-background-color: rgba(128, 98, 21,.8);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-text-fill: rgba(255, 227, 153, 1);
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
}

#explainPane {
    -fx-background-color:rgba(244, 196, 73,.6);
    -fx-padding: 10;
    -fx-box-border: rgba(170,139,57,.3);
    -fx-background-insets: 10;
    -fx-text-fill: black;
}

.label {
    -fx-padding: 1;
    -fx-text-fill: rgba(176, 131, 13, 1);
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.7) , 2, 0.0 , 0 , 0 );
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,.6) , 3 , .1 , 0 , 0 )
}

#explainText {
    -fx-padding: 5;
}

.list-view {
    -fx-padding: 20;
}

/*
.titled-pane > .content {
    -fx-background-color:linear-gradient(to bottom,rgba(180,130,80,.3), rgba(150,100,50,.3));


        linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%, derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);

    -fx-background-insets: 0, 0 1 1 1;
    -fx-margin: -10;
    -fx-border-width:0;
}

.titled-pane > .title {
    -fx-background-color: rgba(150,100,50,.3);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;  2 10 3 10
}*/