
/*******************************************************************************
 *                                                                             *
 * Custom Stuff                                                                *
 *                                                                             *
 * Edits and changes to the default sheet                                      *
 *                                                                             *
 ******************************************************************************/

 @font-face {
    src: url("BagnardSans.ttf");
}
 
 .root {
	-fx-first-color: rgba(252, 224, 165, .7);
	-fx-comp-color: rgba(118, 131, 170, .7);
	-fx-base-comp: derive(-fx-comp-color, 50%);
	-fx-individual-color: -fx-base-comp;
	-fx-base: derive(-fx-first-color, -30%);
	-fx-background: derive(-fx-base, -40%);
	-fx-control-inner-background : transparent;
	-fx-border-pref: derive(-fx-color, 80%);
	-fx-sometimes-text: derive(white, 20%);
	-fx-text-drop: dropshadow( one-pass-box , black , 5 , .4 , 0 , 0 );
	-fx-text-fill: -fx-sometimes-text;
	-fx-background-color: rgba(1,1,1,.2);
    -fx-accent: rgba(138, 82, 206, 0.7);
    -fx-focus-color: derive(-fx-accent,60%) 30%;
    -fx-faint-focus-color: derive(-fx-accent,-20%) 50%;
	-fx-background-radius: 10;
	-fx-border-radius: 10;

		
	-fx-font-family: "Bagnard Sans Regular";
	
	-fx-font-size: 1.3em;
	
	-fx-box-border: ladder(
        -fx-color,
        white -30%,
        derive(-fx-color,10%) 70%
    );

    /* Darker than -fx-background and used to draw boxes around text boxes and
     * password boxes.
     */
    -fx-text-box-border: ladder(
        -fx-background,
        white 20%,
        derive(-fx-background, 70%) 30%
    );
}

.side-label {
    -fx-pref-width:150;
    -fx-content-display: CENTER LEFT;
}

.faux-double-column-box {
    -fx-alignment: CENTER_LEFT;
}

.value-tracker-box {
    -fx-alignment: CENTER;
}
.value-tracker-text-box, .value-tracker-button {
    -fx-pref-width: 50;
    -fx-max-width: 50;
}
.value-tracker-text {
    -fx-max-width:90;
    -fx-min-width:40;
    -fx-alignment:CENTER;
}

.popover > .text {
    -fx-effect:none;
}

.scroll-bar{
        -fx-background-color:transparent;
        -fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 5,5,4;

        -fx-border-radius: 5;
        -fx-border-width: 1;
        -fx-text-fill: #242d35;
        -fx-font-size: 14px;

}

.scroll-bar > .track {
        -fx-border-color: -fx-border-pref;
        -fx-border-radius: 5;
        -fx-border-width: 1;
}

.text-field, .text-area {
    -fx-background-color:
        linear-gradient(derive(-fx-color, 40%), -fx-color 20%, derive(-fx-color, -95%)),
        linear-gradient(derive(-fx-color, -95%), -fx-color, derive(-fx-color, 95%)),
        radial-gradient(center 50% 100%, radius 100%, -fx-color, rgba(255,255,255,0))
        ;
     -fx-effect: innershadow(three-pass-box, black, 6, 0.0, 0, 0);
     -fx-padding: 5, 0, 5, 0;
}

.text {
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
}

.button, .combo-box, .scroll-bar > .thumb, .check-box > .box, .radio-button > .radio, .toggle-button  {
            -fx-background-color:
                #090a0c,
                linear-gradient(-fx-color 0%, #1f2429 20%, #191d22 100%),
                linear-gradient(#20262b, derive(-fx-color, -80%)),
                radial-gradient(center 50% 0%, radius 100%, -fx-color, rgba(255,255,255,0));
            -fx-background-radius: 5,4,3,5;
            -fx-background-insets: 0,1,2,0;
            -fx-text-fill: white;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
            -fx-text-fill: linear-gradient(white, #d0d0d0);
            -fx-padding: 6 20 6 20;
        }
.toggle-button {
 	    -fx-pref-width: 200;
 	    -fx-background-color:
 	        derive(-fx-color, -60%),
 	        linear-gradient(derive(-fx-color, 80%) 0%, derive(-fx-color, -40%) 20%, #191d22 100%)
 	        ;
 	}
.toggle-button:selected {
        fx-background-color:
 	        derive(-fx-color, -70%),
 	        linear-gradient(derive(-fx-color, 80%) 100%, derive(-fx-color, -40%) 80%, #191d22 20%)
 	        ;
    -fx-color:derive(-fx-base, 50%);
    -fx-effect:innershadow(three-pass-box, black, 10, 0.0, 0, 3);
}
.radio-button > .radio {
    -fx-padding:6;
    -fx-background-radius: 10;
}
.check-box > .box {
    -fx-padding:5;
    -fx-perf-width:15;
    -fx-perf-height:15;
}
.check-box > .box > .mark {
    -fx-padding:10;
}
.check-box:selected > .box > .mark {
    -fx-shape: "M256 38.013c-22.458 0-66.472 110.3-84.64 123.502-18.17 13.2-136.674 20.975-143.614 42.334-6.94 21.358 84.362 97.303 91.302 118.662 6.94 21.36-22.286 136.465-4.116 149.665 18.17 13.2 118.61-50.164 141.068-50.164 22.458 0 122.9 63.365 141.068 50.164 18.17-13.2-11.056-128.306-4.116-149.665 6.94-21.36 98.242-97.304 91.302-118.663-6.94-21.36-125.444-29.134-143.613-42.335-18.168-13.2-62.182-123.502-84.64-123.502z"
    }
.check-box:indeterminate > .box > .mark {
    -fx-scale-shape: true;
    -fx-shape: "M254.875 19.844c-1.324.008-2.646.032-3.97.062-80.788 1.83-158.746 44.508-202.06 119.53-66.005 114.324-26.792 260.78 87.53 326.783 113.07 65.28 257.552 27.596 324.563-83.845.176-.28.357-.56.53-.844.586-.948 1.16-1.904 1.72-2.874.016-.028.015-.065.03-.094.124-.214.223-.44.344-.656C527.237 266.72 491.675 125.454 384.5 57.28c-2.514-1.772-5.102-3.447-7.78-5.03-.333-.21-.658-.426-1-.625-.022-.012-.043-.02-.064-.03-3.28-1.893-6.628-3.617-10.03-5.157-.022-.01-.042-.022-.063-.032-35.29-18.215-73.225-26.79-110.688-26.562zm.03 18.593c8.52-.046 17.063.42 25.595 1.376-14.054 3.2-28.19 8.286-42.063 15.062-10.908 5.328-21.7 11.714-32.25 19.063-5.684-.47-11.313-.756-16.875-.844-6.752-.107-13.408.047-19.937.5-15.732 1.09-30.787 3.865-44.813 8.28 36.827-27.32 81.255-42.37 126.688-43.374 1.22-.027 2.436-.056 3.656-.063zm58.876 16c6.41-.043 12.687.44 18.814 1.438-13.077 7-27.032 18.002-41.78 32.313-1.414 1.37-2.826 2.787-4.252 4.218-17.287-6.485-34.585-11.345-51.593-14.562 3.887-2.212 7.78-4.28 11.686-6.188C268.2 61.133 289.68 55.304 310 54.53c1.27-.047 2.52-.084 3.78-.093zm46.69 11.907c1.348.024 2.54.2 3.592.5.732.41 1.46.83 2.188 1.25.693.4 1.375.812 2.063 1.22 3.107 3.064 5.642 9.087 6.343 19.374.816 11.973-1.102 28.56-5.844 48-9.69-7.032-19.94-13.67-30.687-19.875-10.81-6.24-21.755-11.79-32.75-16.688C319.85 86.282 333.245 76.285 344.03 71c5.586-2.736 10.168-4.122 13.845-4.53.92-.104 1.785-.14 2.594-.126zm33 24.594c17.128 20.884 27.14 49.38 29.436 82.468.3 4.334.472 8.748.5 13.22-11.328-13.157-24.222-25.744-38.53-37.5.522-1.94 1.053-3.854 1.53-5.75 5.03-19.976 7.555-37.59 7.063-52.44zm-210.22.812c-13.043 11.278-25.534 24.094-37.188 38.313-1.82-.49-3.62-.988-5.406-1.438-16.18-4.075-30.817-6.51-43.687-7.03-2.976-.122-5.85-.12-8.626-.032 20.87-17.052 49.306-27.024 82.312-29.313 4.132-.287 8.334-.46 12.594-.5zm28.125 1.47c19.78 2.192 40.388 6.858 61.125 14.03-10.127 11.24-20.47 23.885-30.813 37.656-10.784 1.26-21.106 3.994-30.78 8-15.75-6.685-30.92-12.403-45.22-17.03 14.302-16.54 29.73-30.864 45.688-42.657zm79.938 21.186c12.563 5.266 25.103 11.486 37.468 18.625 12.29 7.097 23.874 14.806 34.658 23-3.59 11.717-8.03 24.21-13.22 37.25-19.175-27.13-49.672-45.65-84.624-48.718 8.726-11.044 17.347-21.17 25.72-30.156zM433.5 128.094c33.04 44.775 47.975 100.707 41.656 156-3.193-14.28-8.333-28.622-15.22-42.72-5.262-10.775-11.545-21.443-18.78-31.874 1.08-12.782 1.213-25.29.375-37.375-1.07-15.44-3.76-30.233-8.03-44.03zM90.844 140.188c1.705-.017 3.498.014 5.344.093 10.482.45 23.215 2.406 37.5 5.876-6.985 9.65-13.61 19.84-19.782 30.53-6.24 10.81-11.792 21.76-16.687 32.75-13.74-14.396-23.65-27.734-28.907-38.467-5.04-10.29-5.5-17.162-3.75-21.282.17-.302.326-.606.5-.907.206-.356.414-.707.624-1.06 2.7-3.564 8.876-6.567 20.282-7.345 1.55-.106 3.168-.17 4.874-.188zM153 151.5c11.53 3.52 23.83 7.868 36.656 12.938-27.28 18.723-46.158 48.766-49.844 83.375-10.337-8.24-19.826-16.396-28.312-24.313 5.26-12.565 11.454-25.103 18.594-37.47 7.068-12.24 14.75-23.78 22.906-34.53zm226.063 17.25c16.602 14.382 30.97 29.898 42.78 45.938-2.23 19.72-6.927 40.244-14.093 60.906-11.137-10.046-23.654-20.298-37.28-30.563-1.422-10.85-4.33-21.243-8.533-30.936 6.724-15.785 12.468-31.004 17.125-45.344zM53.156 182.344c7 13.098 18.01 27.102 32.344 41.875 1.3 1.34 2.644 2.678 4 4.03-6.49 17.306-11.343 34.627-14.563 51.656-2.15-3.795-4.17-7.595-6.03-11.406-14.56-29.81-20.148-59.498-15.75-86.156zm-16.28 51.53c3.193 14.306 8.318 28.688 15.218 42.814 5.29 10.832 11.62 21.548 18.906 32.03-1.03 12.555-1.136 24.84-.313 36.72 1.108 15.97 3.938 31.266 8.47 45.468-33.52-44.96-48.68-101.33-42.282-157.03zm400.312 4.376c2.13 3.763 4.123 7.534 5.968 11.313 14.527 29.74 20.122 59.358 15.78 85.968-7-13.083-17.992-27.053-32.31-41.81-1.307-1.347-2.64-2.706-4-4.064 6.48-17.214 11.322-34.46 14.562-51.406zm-332.844 4.063c10.607 9.567 22.465 19.317 35.344 29.093 1.185 12.435 4.33 24.303 9.125 35.28-6.202 14.807-11.542 29.093-15.907 42.595-16.518-14.31-30.823-29.754-42.594-45.717 2.184-19.824 6.852-40.464 14.032-61.25zm266.78 26.875c10.776 8.544 20.675 16.984 29.47 25.187-5.233 12.46-11.39 24.894-18.47 37.156-7.147 12.383-14.926 24.022-23.187 34.876-11.066-3.385-22.833-7.526-35.093-12.344 26.622-19.483 44.63-50.037 47.28-84.875zm43.75 39.25c13.757 14.41 23.676 27.79 28.938 38.53 5.13 10.473 5.488 17.38 3.625 21.47-.124.272-.263.533-.406.78-.01.02-.018.043-.03.063-.007.014-.024.02-.03.033-.05.085-.108.164-.158.25-.083.135-.156.274-.25.406-2.614 3.658-8.803 6.8-20.437 7.592-11.942.815-28.47-1.098-47.844-5.812 7.078-9.75 13.787-20.057 20.033-30.875 6.18-10.706 11.698-21.55 16.562-32.438zm-254.28 19.093c19.028 26.737 49.11 45.06 83.562 48.345-8.058 10.062-16.008 19.338-23.75 27.625-12.45-5.23-24.87-11.363-37.125-18.438-12.328-7.118-23.934-14.84-34.75-23.062 3.315-10.874 7.366-22.43 12.064-34.47zm-71.72 4.158c11.258 13.038 24.068 25.525 38.25 37.187-.477 1.78-.966 3.536-1.405 5.28-5.024 19.946-7.546 37.514-7.064 52.345-17.06-20.873-27.022-49.32-29.312-82.344-.284-4.09-.427-8.254-.47-12.47zM303.47 366c14.88 6.26 29.238 11.63 42.81 16.03-14.4 16.61-29.962 30.95-46.03 42.75-19.77-2.22-40.348-6.908-61.063-14.092 9.487-10.502 19.152-22.233 28.844-34.97 12.514-1.363 24.442-4.702 35.44-9.718zm-160.283 15.313c9.71 7.05 19.976 13.717 30.75 19.937 10.685 6.17 21.51 11.674 32.375 16.53-14.317 13.638-27.567 23.487-38.25 28.72-10.396 5.093-17.3 5.5-21.406 3.688-.03-.014-.064-.018-.094-.032-.24-.136-.48-.268-.718-.406-.272-.157-.543-.31-.813-.47-.034-.024-.057-.067-.093-.092-3.614-2.658-6.714-8.822-7.5-20.344-.81-11.877 1.09-28.294 5.75-47.53zm222.657 6.53c1.883.508 3.75 1.005 5.594 1.47 19.975 5.03 37.588 7.554 52.437 7.062-20.884 17.13-49.38 27.143-82.47 29.438-4.272.296-8.623.467-13.03.5 13.148-11.308 25.72-24.18 37.47-38.47zm-140.72 37.688c17.228 6.488 34.48 11.353 51.44 14.595-3.66 2.063-7.33 3.988-11.002 5.78-29.8 14.556-59.474 20.14-86.125 15.75 13.095-6.998 27.072-18.01 41.844-32.342 1.276-1.237 2.56-2.496 3.845-3.782zm162.282 10.72c-45.09 33.444-101.58 48.482-157.344 41.875 14.608-3.174 29.294-8.392 43.72-15.438 10.68-5.216 21.254-11.44 31.593-18.593 12.76 1.076 25.247 1.212 37.313.375 15.692-1.09 30.724-3.83 44.718-8.22z" ;

}
.combo-box {
    -fx-pref-width: 200;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .cell:even {
    -fx-text-fill: derive(-fx-color, 70%);
    -fx-background-color: derive(-fx-color, -70%);
}
.list-view > .virtual-flow > .clipped-container > .sheet > .cell:odd {
    -fx-text-fill: derive(-fx-color, 50%);
    -fx-background-color: derive(-fx-color, -80%);
}


.list-view > .virtual-flow > .clipped-container > .sheet > .cell:selected, .list-view > .virtual-flow > .clipped-container > .sheet > .cell:hover{
    -fx-text-fill: derive(-fx-color, 70%);
    -fx-background-color: derive(-fx-color, -20%);
    -fx-effect: innershadow(three-pass-box, black, 7, 0.0, 0, 1);

}
.list-view > .virtual-flow > .clipped-container > .sheet > .cell:hover {
    -fx-text-fill: derive(-fx-color, -70%);
    -fx-background-color: derive(-fx-accent, 70%);
}



.list-view {
    -fx-background-color: derive(-fx-color, -40%);
    -fx-effect: innershadow(three-pass-box, black, 7, 0.0, 0, 1);
}
.button Text, .combo-box Text {
            -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
        }

.list-cell:selected {
    -fx-text-fill: -fx-sometimes-text;
}
 
 .tab-pane  > .tab-content-area, .scroll-pane, .split-pane, .viewport {
	-fx-background-color: transparent;
 }
 
 VBox {
	-fx-background-color: transparent;
 }
 
 .app-sub-section {
	-fx-background-color: transparent;
 }
 
 .app-subsection-container {
	-fx-background-color: transparent; 
 }
 
 .rating > .container {
     -fx-spacing: 4;
     -fx-alignment:center;
     -fx-padding:3;
 }
 .rating > .container > .button {
    -this-icon-color: -fx-color;
     -fx-background-color:
                     -this-icon-color,
                     linear-gradient(derive(-this-icon-color, 80%) 0%, #1f2429 20%, #191d22 100%),
                     linear-gradient(derive(-this-icon-color, 80%), -this-icon-color 20%, derive(-this-icon-color, -80%)),
                     radial-gradient(center 50% 0%, radius 100%, -this-icon-color, rgba(255,255,255,0.1));
     -fx-background-radius: 100;
     -fx-background-insets:6;
     -fx-max-height:3;
     -fx-max-width:3;
     -fx-padding:10;
     //-fx-shape: "M256 16c-24 0-72 24-72 48s48 24 72 96c24-72 72-72 72-96s-48-48-72-48zM64 184c-24 0-48 48-48 72s24 72 48 72 24-48 96-72c-72-24-72-72-96-72zm384 0c-24 0-24 48-96 72 72 24 72 72 96 72s48-48 48-72-24-72-48-72zm-189.906.03A72 72 0 0 0 184 256a72 72 0 0 0 144 0 72 72 0 0 0-69.906-71.97zM256 352c-24 72-72 72-72 96s48 48 72 48 72-24 72-48-48-24-72-96z" ;
     -fx-background-image: none;
     -fx-background-repeat: none;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 10, 0.0 , 0 , 0 );
 }
 .rating > .container > .button.strong {
     -fx-background-image: none;
     -fx-background-insets:1;
     -fx-effect: innershadow(three-pass-box, black, 7, 0.2, 0, 1);
     //-fx-shape:"M319.594 23.78C285.57 102.98 230.09 105.943 196.28 27c9.09 86.328-40.002 112.372-111.936 53.906 59.824 74.383 33.49 125.818-61.375 110.563 88.44 34.29 91.354 88.99 3.25 123.28 91.354-13.02 122.018 37.044 63.5 110 72.41-56.59 120.465-32.077 106.28 60.22 34.45-84.274 92.673-84.58 126.406 2.124h.03c-14.52-93.742 32-123.784 105.752-64.625-53.336-70.54-29.74-120.928 58.656-109-79.212-34.028-80.658-86.815-1.688-120.626-84.74 9.05-112.955-39.317-59.25-108.844-70.53 53.332-118.236 28.174-106.312-60.22zm-62.53 83.407c6.958 54.2 39.187 61.556 72.467 18.813-20.754 49.66 3.604 73.79 52.314 55-41.37 32.53-32.145 63.55 20.125 71.125-54.204 6.96-60.185 40.495-17.44 73.78-53.022-23.31-75.77 1.865-52.31 55.033-33.712-45.958-68.134-36.552-75.158 18.78-6.24-56.87-38.558-63.75-72.437-18.78 23.062-52.452-3.034-77.223-55.03-55.032 46.7-34.262 36.306-66.17-21.47-72.437 58.557-6.017 65.977-40.628 18.78-75.157 51.84 23.19 76.788-.01 57.72-49.657 32.526 41.354 64.863 30.792 72.438-21.47zm-2.658 62.344c-27.606.87-54.11 15.568-68.97 41.22-22.86 39.467-9.368 89.608 30.25 112.406 39.62 22.8 90.015 9.342 112.876-30.125 3.336-5.757 5.9-11.746 7.72-17.842-12.425 22.18-36.144 37.187-63.376 37.187-40.098 0-72.594-32.527-72.594-72.625 0-33.697 22.967-62.032 54.094-70.22zm27.72 15.5c-24.26 0-43.907 19.648-43.907 43.907 0 24.26 19.646 43.938 43.905 43.938 24.26 0 43.938-19.678 43.938-43.938s-19.68-43.906-43.938-43.906z";
     }
 .rating > .container > .button:hover {
     -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 8, -0.5 , 0 , 0 );
 }

  .willpower-rating > .container > .button {
  }
  .willpower-rating > .container > .button.strong {
      -fx-shape : "M241.063 54.406c-2.31.008-4.61.032-6.907.094-1.805.05-3.61.106-5.406.188-8.814 1.567-12.884 5.426-15.094 9.843-2.435 4.87-2.34 11.423.375 17.25 2.717 5.83 7.7 10.596 14.657 12.376 6.958 1.78 16.536.86 29.125-7.187l10.063 15.75c-15.818 10.11-31.124 12.777-43.813 9.53-12.688-3.247-22.103-12.123-26.968-22.563-4.584-9.836-5.426-21.376-1.03-31.624-42.917 6.94-81.777 23.398-111.626 46.562-9.81 10.688-10.77 23.11-6.47 31.594 4.83 9.526 16.21 16.48 38.97 9.28l5.656 17.813c-28.58 9.04-52.137-.588-61.28-18.625-2.23-4.397-3.592-9.156-4.127-14.063-4.814 5.712-9.16 11.658-13 17.844l.126.06c-8.614 19.616-8.81 33.203-5.376 42.032 3.436 8.83 10.635 14.44 21.72 17.532 22.168 6.18 58.065-1.277 83.343-20.156 10.82-8.08 21.077-27.677 21.97-42.875.445-7.6-1.165-13.604-4.345-17.438-3.18-3.834-8.272-6.703-18.813-6.594l-.187-18.686c14.487-.15 26.25 4.754 33.375 13.344 7.124 8.59 9.26 19.652 8.625 30.468-1.27 21.633-12.595 44.172-29.438 56.75-29.876 22.314-69.336 31.606-99.53 23.188-13.988-3.9-26.37-12.386-32.75-25.53-9.546 45.446 4.323 87.66 30.718 116.874 3.45 3.82 7.122 7.43 10.97 10.78-2.754-7.887-4.016-16.1-3.72-24.093.53-14.325 6.082-28.346 17.22-38.03 9.134-7.946 21.752-12.53 36.843-12.5 1.006 0 2.034.018 3.062.06 2.35.1 4.763.304 7.22.626l-2.44 18.532c-15.588-2.048-25.705 1.522-32.436 7.375-6.73 5.854-10.443 14.614-10.813 24.625-.74 20.024 12.07 43.406 39.69 50.188l-.032.188c27.192 5.19 57.536.372 88-18.22.018-.012.043-.017.062-.03 6.34-4.45 9.755-8.808 11.438-12.563 1.985-4.432 1.943-8.292.53-12.438-2.824-8.29-12.94-16.812-22.218-19.187-15.002-3.84-24.532 1.436-29 7.72-4.468 6.28-4.74 12.45 2.156 17.81l-11.47 14.75c-14.187-11.033-15.092-30.487-5.905-43.405 6.892-9.688 18.985-16.326 33.564-16.75.607-.018 1.228-.036 1.844-.03 4.306.03 8.79.622 13.437 1.81 15.505 3.97 29.84 15.277 35.28 31.25 1.416 4.155 2.09 8.69 1.876 13.314 16.71-8.538 34.332-16.12 52.282-21.814 30.156-13.78 43.23-37.938 42.72-58.28-.515-20.493-13.187-37.74-42.376-40.626l1.844-18.594c36.666 3.626 58.462 29.848 59.188 58.75.422 16.84-5.754 34.363-18.188 49.28 16.072-1.8 32.044-1.495 47.53 1.627-3.152-6.472-4.68-13.478-4.467-20.438.677-22.036 19.42-42.593 48.875-42.906 1.963-.022 3.974.053 6.03.218l-1.5 18.625c-24.927-1.998-34.3 11.086-34.718 24.656-.412 13.42 8.545 28.442 34.22 30.436 28.3.25 48.588-15.098 58.53-37.906 13.31-30.536 6.997-76.317-34.844-118.188-.792-.793-1.578-1.593-2.375-2.375-.444 3.792-1.424 7.443-2.842 10.844-7.25 17.39-24.233 29.128-41.875 32.407-24.335 4.522-44.29-5.347-53.5-20.406-9.21-15.057-6.792-36.35 9.78-47.56l10.47 15.5c-8.913 6.028-9.28 14.19-4.313 22.31 4.967 8.122 16.17 15.156 34.156 11.814 11.306-2.102 23.896-11.33 28.03-21.25 2.07-4.96 2.47-9.862.408-15.47-1.675-4.555-5.187-9.764-11.72-15.25l-.187-.155c-27.316-20.587-56.338-35.393-85.75-45.157.018.032.045.06.063.093 6.684 12.22 7.18 26.082 3.063 38.344-8.233 24.525-34.07 43.848-66.032 42.78-6.948-.23-13.56 3.12-19.186 9.657-5.627 6.537-9.735 16.113-10.688 26.313-1.905 20.4 6.923 42.886 41.344 54L277 258.28c-41.083-13.264-56.83-45.546-54.22-73.5 1.307-13.975 6.706-26.962 15.157-36.78 8.452-9.818 20.475-16.603 33.97-16.156 24.04.802 42.323-14.084 47.687-30.063 2.682-7.988 2.335-15.937-1.75-23.405-3.968-7.252-11.83-14.423-25.906-19.656-17.114-2.967-34.16-4.367-50.875-4.314zM342.28 306.344c-41.915 3.41-87.366 23.4-125.28 46.562-55.98 34.198-114.89 26.733-156.688-4.28 16.444 58.844 74.712 70.788 135.5 55.905 6.083-2.285 12.06-6.538 17.157-12.03 7.057-7.607 12.17-17.47 13.78-25.625l18.344 3.625c-2.445 12.383-9.078 24.666-18.406 34.72-8.95 9.645-20.61 17.35-34.094 19.374-6.766 15.07-12.334 29.68-14.594 39.906-3.55 16.06 14.206 22.225 22.156 6.03 19.022-38.743 45.87-73.23 79.406-102.967 26.064-17.153 48.406-38.303 62.72-61.22z";
  }

  .detail-button {
    -fx-padding: 4 13;
    -fx-background-image: url("32eye2.png");
    -fx-background-size: 20 20;
    -fx-background-position: center;
    -fx-background-repeat: stretch;
  }

  .health-track-label {
    -fx-font-size: 20;
  }

  .health-track-vbox {
    -fx-padding: 5;
    -fx-alignment: center
  }

  .damage-region-aggro, .damage-region-bashing, .damage-region-lethal, .damage-region-clear {
          -fx-padding: 40 40;
          -fx-pref-size: 75;
          -fx-background-size: 80 80;
          -fx-background-position: center;
          -fx-background-repeat: stretch;
  }

  .damage-region-aggro {
        -fx-background-image: url("damage_aggro.png");
  }

  .damage-region-bashing {
        -fx-background-image: url("damage_bashing.png");
  }

  .damage-region-lethal {
        -fx-background-image: url("damage_lethal.png");
  }

  .damage-region-clear {
        -fx-background-image: url("damage_blank.png");
  }
  
  .titled-pane {
		-fx-border-width: 1;
		-fx-padding: 10;
		/*-fx-background-insets : 10;
		-fx-border-insets: 10;*/
		-fx-padding: 10, 20, 10, 20;
		-fx-background-insets: 10, 30, 1, 10;
		-fx-border-insets: 10, 5, 10, 5;
		-fx-background-color : derive(-fx-color, -50%);
		-fx-background-radius: 10;
		-fx-border-radius: 10;
		-fx-border-color: -fx-border-pref;
		
		-fx-text-fill: -fx-sometimes-text;
		
  }
  
  .titled-pane:collapsed {
	-fx-padding: 0, 10, 0, 10;
	-fx-background-insets: 0, 10, 0, 10;
	-fx-border-insets: 0, 10, 0, 10;
	
  }
  
  .titled-pane > .title {
		-fx-background-color : transparent;
  }
  
  .titled-pane > .title > .text {
		-fx-effect: -fx-text-drop;
  }
  
  .titled-pane > .content {
		-fx-background-color : transparent;
		-fx-border-color: transparent;
		
  }
  
  .label { 
    -fx-text-fill: -fx-sometimes-text;
	-fx-effect: -fx-text-drop;
	}
	
   .App-Bar {
		-fx-pref-height: 120;
		-fx-alignment: CENTER;
		-fx-padding: 20;
   }
   
   .App-Bar > .button {
		-fx-padding: 5;
		-fx-border-insets: 10;
   }
   
   BorderPane {
    -fx-background-image: url("core_pg_524.png");
	-fx-border-insets:-10;
	-fx-border-color: black;
	-fx-background-position: center;
	-fx-background-size: cover;
   }
   
   .overmenu {
	-fx-background-image: url("core_pg_71.png");
	-fx-background-size: 1920;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
   }

   .dice-roller {
    -fx-background-image: url("core_pg_500.png");
   }

   .solarmanager {
	-fx-background-image: url("core_pg_41.png");
	}


	.combat-tracker {
	-fx-first-color: derive(rgba(80, 140, 202, .7), 0%);
	-fx-accent: rgba(255, 92, 88, .6);
	-fx-background-image: url("core_pg_181.png");
	}

	.chron-editor {
	    -fx-background-image: url("core_pg_33.png");
	}

	.solar-picker {
        -fx-background-image: url("core_pg_122.png");
        -fx-padding:5;
	}

.caste-selector-button {
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-radius:5 0 0 5;
    -fx-border-width:2 0 2 2;
    -fx-border-insets:0 0 0 0;
    -fx-padding:30 0 30 0;
}

.caste-selector-button:selected > .text {
    -fx-effect: innershadow(three-pass-box, black, 2, 0.2, 0, 0);;
}

.caste-detail-box {
    -fx-border-width:2 2 2 0;
    -fx-border-color:white;
}

	.caste-title {
	    -fx-font-size: 50;
	}

	.sobriquets-label {
	    -fx-max-width: 600;
	}

/**

	The following is taken from UndecoratorBis's Touch skin's CSS file.

 * Copyright 2014-2016 Arnaud Nouard. All rights reserved.
 *
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * * Redistributions of source code must retain the above copyright notice, this
 *   list of conditions and the following disclaimer.
 *
 * * Redistributions in binary form must reproduce the above copyright notice,
 *   this list of conditions and the following disclaimer in the documentation
 *   and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
/* 
    Document   : Undecorator
    Created on : Dec 19, 2014
    Author     : In-SideFX
    Description:
        Demo app purpose
*/

/*
    The Stage background.
    Currently a Rectangle node
*/
.decoration-background{
    -fx-fill: transparent;
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}
/*
    Defines the rectangle responsible for the shadow
*/
/*.decoration-shadow{
    -fx-fill: black;
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}*/
/*
 Used to declare the definition of stage resize zone
*/
.decoration-resize{
    -fx-fill:null;  /* avoid mouse events in the middle*/
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-insets: 0;
}
/*
    The title bar label
*/
.undecorator-label-titlebar{
     -fx-text-fill: #000000; /*if defined here, no way to override it in external apps*/
}

/*
*   Setting all of the size stuff in one block.
*/

.decoration-button-menu, .decoration-button-minimize, .decoration-button-maximize, .decoration-button-restore, .decoration-button-close, .decoration-button-fullscreen, .decoration-button-unfullscreen {
	-fx-background-color: black;
	-fx-background-insets: 6;
	-fx-background-position: center;
	-fx-background-size: auto;
	-fx-pref-size: 16;
	-fx-max-size: 16;
	-fx-content-display: center top;
	-fx-background-radius: 100; 
	-fx-effect: -fx-text-drop; 
}

.decoration-button-menu:hover, .decoration-button-minimize:hover, .decoration-button-maximize:hover, .decoration-button-restore:hover, .decoration-button-close:hover, .decoration-button-fullscreen:hover, .decoration-button-unfullscreen:hover {
	-fx-background-color: white;
	-fx-background-insets: 3;
	-fx-background-position: center;
	-fx-background-size: auto;
	-fx-pref-size: 16;
	-fx-max-size: 16;
	-fx-content-display: center;
	-fx-background-radius: 100;
	-fx-effect: null;
}

/*
*	Menu button
*/
.decoration-button-menu{
    -fx-background-image:url("stack.png");
    -fx-background-repeat:no-repeat;
    visibility: collapse;
}

.decoration-button-menu:hover{
    -fx-background-image:url("stack-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-background-image:url("transform.png");
    -fx-background-repeat:no-repeat;
    visibility: collapse;
}

.decoration-button-minimize:hover{
    -fx-background-image:url("transform-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-image:url("health-normal.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-image:url("cancel.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-image:url("cancel.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Fullscreen button
*/
.decoration-button-fullscreen{
    -fx-background-image:url("expand.png");
    -fx-background-repeat:no-repeat;
    visibility: collapse;
}
.decoration-button-fullscreen:hover{
    -fx-background-image:url("expand-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen{
    -fx-background-image:url("contract.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen:hover{
    -fx-background-image:url("contract-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Resize button
*/
.decoration-button-resize{
    -fx-background-image:url("./resizeSE.png");
    -fx-background-repeat:no-repeat;
}