/**

	The following is taken from UndecoratorBis's Touch skin's CSS file.

 * Copyright 2014-2016 Arnaud Nouard. All rights reserved.
 *
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * * Redistributions of source code must retain the above copyright notice, this
 *   list of conditions and the following disclaimer.
 *
 * * Redistributions in binary form must reproduce the above copyright notice,
 *   this list of conditions and the following disclaimer in the documentation
 *   and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
/*
    Document   : Undecorator
    Created on : Dec 19, 2014
    Author     : In-SideFX
    Description:
        Demo app purpose
*/

/*
    The Stage background.
    Currently a Rectangle node
*/
.decoration-background{
    -fx-fill: transparent;
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}
/*
    Defines the rectangle responsible for the shadow
*/
/*.decoration-shadow{
    -fx-fill: black;
    -fx-stroke-width: 0;
    -fx-arc-width:20px;
    -fx-arc-height:20px;
}*/
/*
 Used to declare the definition of stage resize zone
*/
.decoration-resize{
    -fx-fill:null;  /* avoid mouse events in the middle*/
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-insets: 0;
}
/*
    The title bar label
*/
.undecorator-label-titlebar{
     -fx-text-fill: #000000; /*if defined here, no way to override it in external apps*/
}

/*
*   Setting all of the size stuff in one block.
*/

.decoration-button-menu, .decoration-button-minimize, .decoration-button-maximize, .decoration-button-restore, .decoration-button-close, .decoration-button-fullscreen, .decoration-button-unfullscreen {
	-fx-background-color: black;
	-fx-background-insets: 6;
	-fx-background-position: center;
	-fx-background-size: auto;
	-fx-pref-size: 16;
	-fx-max-size: 16;
	-fx-content-display: center top;
	-fx-background-radius: 100;
	-fx-effect: -fx-text-drop;
}

.decoration-button-menu:hover, .decoration-button-minimize:hover, .decoration-button-maximize:hover, .decoration-button-restore:hover, .decoration-button-close:hover, .decoration-button-fullscreen:hover, .decoration-button-unfullscreen:hover {
	-fx-background-color: white;
	-fx-background-insets: 3;
	-fx-background-position: center;
	-fx-background-size: auto;
	-fx-pref-size: 16;
	-fx-max-size: 16;
	-fx-content-display: center;
	-fx-background-radius: 100;
	-fx-effect: null;
}

/*
*	Menu button
*/
.decoration-button-menu{
    -fx-background-image:url("stack.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-menu:hover{
    -fx-background-image:url("stack-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Minimize button
*/
.decoration-button-minimize{
    -fx-background-image:url("transform.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-minimize:hover{
    -fx-background-image:url("transform-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-image:url("health-normal.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-image:url("health-normal-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-image:url("cancel.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-image:url("cancel.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Fullscreen button
*/
.decoration-button-fullscreen{
	-fx-visibility: false;
    -fx-background-image:url("expand.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-fullscreen:hover{
    -fx-background-image:url("expand-inv.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen{
    -fx-background-image:url("contract.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen:hover{
    -fx-background-image:url("contract-inv.png");
    -fx-background-repeat:no-repeat;
}
/*
*	Resize button
*/
.decoration-button-resize{
    -fx-background-image:url("./resizeSE.png");
    -fx-background-repeat:no-repeat;
}